@page "/normal-numbers/number-to-japanese"
@inject NavigationManager NavigationManager
@inject JapaneseService JapaneseService
@inject OptionsService OptionsService
@layout EmptyLayout

<KeyPressListener OnKeyPressed="OnKeyPressed" />

<GameLayout>
    <Body>
        <h1>@Number</h1>
        <Hiddeable Visible="_showRomanji">
            <h3>@_romanji</h3>
        </Hiddeable>
    </Body>

    <Footer>
        <MenuButtonList>
            @if (!_showRomanji)
            {
                <MenuButton Text="Reveal romanji" Click="RevealRomanji" />
            }
            else
            {
                <MenuButton Text="Next number" Click="NavigateToRandomNumber" />
            }
            <MenuButton Text="Back" ButtonStyle="MenuButton.Style.Secondary" Click="NavigateToMenu" />
        </MenuButtonList>
    </Footer>
</GameLayout>


@code {
    [Parameter, SupplyParameterFromQuery] public int? Number { get; set; }


    private AppOptions.NormalNumbersOptions _options = null!;
    private string? _romanji;
    private bool _showRomanji;

    protected override async Task OnInitializedAsync()
    {
        _options = (await OptionsService.GetOptionsAsync()).NormalNumbers;

        if(Number is null)
        {
            NavigateToRandomNumber();
            return;
        }

    }


    protected override void OnParametersSet()
    {
        if (Number is not null)
            _romanji = JapaneseService.ConvertToJapaneseRomaji(Number.Value);
    }


    private void OnKeyPressed(string key)
    {
        if (key == "Space")
        {
            if (!_showRomanji)
            {
                RevealRomanji();
            }
            else
            {
                NavigateToRandomNumber();
            }
        }
    }

    private void RevealRomanji()
    {
        _showRomanji = true;
    }

    private void NavigateToRandomNumber()
    {
        int number;

        _showRomanji = false;

        do
        {
            number = Random.Shared.Next(_options.Minimum, _options.Maximum+1);
        }
        while (number == Number);

        NavigationManager.NavigateTo($"normal-numbers/number-to-japanese?{nameof(Number)}={number}", forceLoad: false);
    }

    private void NavigateToMenu()
    {
        NavigationManager.NavigateTo($"normal-numbers");
    }
}