@page "/"
@inject NavigationService NavigationService

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col d-flex flex-column align-items-center">
        <h1>Japanese Numbers Trainer</h1>
        <h3>What do you want to do today?</h3>

        <MenuButtonList>
            <MenuButton Text="Normal numbers" Click="NavigationService.GoToNormalNumbersMenu"
                        HasOptions="true" OptionsClick="NavigationService.GoToNormalNumbersOptions" />
            <MenuButton Text="Dates" Click="NavigationService.GoToDatesMenu" />
            <MenuButton Text="Clock" Disabled="true" />
            <MenuButton Text="Age" Disabled="true" />
        </MenuButtonList>
    </div>
</div>