@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col d-flex flex-column align-items-center">
        <h1>Japanese Numbers Trainer</h1>
        <h3>What do you want to do today?</h3>

        <ButtonActionList>
            <ButtonPrimary Text="Normal numbers" Click="OnNormalNumbersClicked" />
            <ButtonPrimary Text="Clock" />
            <ButtonPrimary Text="Age" />
        </ButtonActionList>
    </div>
</div>


@code {
    private void OnNormalNumbersClicked() => NavigationManager.NavigateTo("normal-numbers");
}
