@attribute [Route(Routes.NormalNumbersMenu)]
@inject NavigationService NavigationService

<PageTitle>Normal Numbers</PageTitle>

<div class="row">
    <div class="col d-flex flex-column align-items-center">
        <h1>Normal Numbers</h1>
        <h3>Choose a exercise type</h3>

        <MenuButtonList>
            <MenuButton Text="Number to Japanese" Click="() => NavigationService.Goto(Routes.NormalNumbersNumberToJapanese)" />
            <MenuButton Text="Text to number" Disabled="true" />
            <MenuButton Text="Speech to number" Disabled="true" />
            <MenuButton Text="Translate" Icon="tools" ButtonStyle="MenuButton.Style.Info" Click="() => NavigationService.Goto(Routes.NormalNumbersTranslate)" />
            <MenuButton Text="Back" ButtonStyle="MenuButton.Style.Secondary" Click="() => NavigationService.Goto(Routes.MainMenu)" />
        </MenuButtonList>
    </div>
</div>