@page "/normal-numbers"
@inject NavigationService NavigationService

<PageTitle>Normal Numbers</PageTitle>

<div class="row">
    <div class="col d-flex flex-column align-items-center">
        <h1>Normal Numbers</h1>
        <h3>Choose a exercise type</h3>

        <MenuButtonList>
            <MenuButton Text="Number to Japanese" Click="NavigationService.GoToNormalNumbersGameModeNumberToJapanese" />
            <MenuButton Text="Text to number" Click="NavigationService.GoToNormalNumbersGameModeTextToNumber" Disabled="true" />
            <MenuButton Text="Speech to number" Click="NavigationService.GoToNormalNumbersGameModeSpeechToNumber" Disabled="true" />
            <MenuButton Text="Translate" Icon="tools" ButtonStyle="MenuButton.Style.Info" Click="NavigationService.GoToNormalNumbersTranslate" />
            <MenuButton Text="Back" ButtonStyle="MenuButton.Style.Secondary" Click="NavigationService.GoToMainMenu" />
        </MenuButtonList>
    </div>
</div>