@attribute [Route(Routes.DatesMenu)]
@inject NavigationService NavigationService

<PageTitle>Dates</PageTitle>

<div class="row">
    <div class="col d-flex flex-column align-items-center">
        <h1>Dates</h1>
        <h3>Choose a exercise type</h3>

        <MenuButtonList>
            <MenuButton Text="Weekdays" Click="() => NavigationService.Goto(Routes.DatesWeekdays)" />
            <MenuButton Text="Days" Click="() => NavigationService.Goto(Routes.DatesDays)" />
            <MenuButton Text="Months" Click="() => NavigationService.Goto(Routes.DatesMonths)" />
            <MenuButton Text="Back" ButtonStyle="MenuButton.Style.Secondary" Click="() => NavigationService.Goto(Routes.MainMenu)" />
        </MenuButtonList>
    </div>
</div>